@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
}

html,
body {
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(70, 70, 70);
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.01em;
}

body {
  min-width: 1200px;
}

.container {
  width: 1160px;
  padding: 0px 20px;
  margin: 0px auto;
}

.home-info h2 {
  font-size: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.slides h2 {
  font-size: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin: 40px 0px 18px 0px;
  padding: 42px 0px 0px 0px;
  background: url("../img/line-white.png") no-repeat left top;
}

.home-info-about-us h2,
.home-info-contact h2 {
  margin: -14px 0px 38px -1px;
  line-height: 1.2;
}

.home-services-description h3 {
  font-size: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 27px;
  letter-spacing: 0.03em;
}

.device-logo {
  font-size: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}

.footer .device-logo {
  font-size: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(255, 198, 0);
  font-weight: 900;
  line-height: 1.2;
  position: absolute;
  text-decoration: none;
}

.footer a:hover {
  color: rgba(255, 198, 0, 0.6)
}

.footer a:active {
  color: rgba(255, 198, 0, 0.3)
}

.header .device-logo {
  margin-left: 58px;
  text-decoration: none;
  font-size: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  position: absolute;
  top: -28px;
  text-transform: uppercase;
}

.header a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.header a:active {
  color: rgba(0, 0, 0, 0.3)
}

.search input {
  margin: 0px;
  padding: 0px;
  float: left;
}

.header-up-user-menu a,
li.subnavigation-list-item a {
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  text-decoration: none;
}

.main-navigation-list-item>a {
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.slide-number {
  font-size: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 900;
  float: right;
  min-width: 179px;
  min-height: 132px;
  line-height: 132px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 50px;
  top: 10px;
}

a.slide-read-more {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: 0 50%;
  display: block;
  text-decoration: none;
  width: 220px;
  margin-top: 45px;
  margin-left: 2px;
  margin-bottom: 52px;
  padding: 9px 0px;
  letter-spacing: 0.2em;
}

a:hover.slide-read-more {
  background-repeat: repeat;
}

a:active.slide-read-more {
  background-repeat: repeat;
  color: rgba(0, 0, 0, 0.3);
}

.slide-features-large {
  font-size: 36px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

.slide-featers-small {
  font-size: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(70, 70, 70);
  line-height: 20px;
  font-weight: 300;
  text-align: left;
  display: block;
  margin-top: 10px;
  margin-left: 1px;
}

header.header {
  margin-top: 40px;
  padding: 0 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-up {
  margin: 0 auto;
  padding: 0px 60px 0px 63px;
}

.heder-up-search {
  width: 500px;
  min-height: 16px;
  padding-left: 60px;
  padding-left: 40px;
  float: left;
}

.header-up-user-menu {
  list-style: none;
  float: right;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

.header-down {
  padding: 25px 60px 50px 60px;
}

.title {
  padding: 33px 0px 40px 60px;
}

.page-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px 0px 14px 0px;
}

.catalog {
  min-height: 1263px;
  background: rgb(239, 239, 239);
}

.catalog-filter {
  width: 330px;
  float: right;
  margin: 0px;
  padding: 0px;
}

.catalog-filter-label {
  padding: 26px 70px 26px 60px;
  margin: 0px;
}

div.catalog-wrapper-sort-label {
  background: #efefef;
  padding: 25px 0px 26px 70px;
}

.catalog-row-1 h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h2.catalog-wrapper-sort-label {
  float: left;
  margin: 0px;
  padding: 0px 55px 0px 0px;
}

.catalog-goods {
  padding: 60px 0px 0px 70px;
  font-size: 0px;
}

.catalog-good {
  width: 360px;
  min-height: 462px;
  margin: 10px 39px 10px 0px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.catalog-good:hover .good-action {
  display: block;
}

.catalog-good:nth-child(2n) {
  margin-right: 0px;
}

.catalog-paginator {
  width: 760px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background: rgb(235, 235, 235);
  margin: 0px 0px 73px 70px;
  line-height: 70px;
}

footer.footer {
  background: #464646;
  color: #ffffff;
  padding: 52px 0px;
}

.footer-up {
  min-height: 39px;
  margin-bottom: 20px;
}

.footer-center {
  min-height: 23px;
  margin-bottom: 63px;
  text-align: center;
}

.footer-down {
  min-height: 43px;
  margin-bottom: 63px;
  text-align: center;
}

.home-carousel {
  min-height: 501px;
  margin: 0px 0px 94px 0px;
  padding: 0px;
  position: relative;
}

.slide-read-more {
  width: 480px;
  min-height: 20px;
  margin-bottom: 65px;
  margin-right: 80px;
  float: left;
}

.logo li {
  width: 260px;
  min-height: 100px;
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.logo li:nth-child(4n) {
  margin-right: 0px;
}

.logo li a {
  width: 260px;
  height: 100px;
  display: block;
  line-height: 100px;
  text-align: center;
  font-size: 0px;
  text-decoration: none;
  vertical-align: top;
}

/*.logo li a.dji .logo li:last-child {
  margin-right: 0px;
}*/

.home-info-about-us {
  width: 560px;
  float: left;
  margin: 0px 40px 0px 0px;
  padding: 0px;
}

.home-info-contact {
  float: right;
  width: 560px;
}

footer .user-menu a {
  color: #ffffff;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(255, 255, 255, 0.702);
  line-height: 36px;
  text-align: left;
  text-decoration: none;
}

footer .user-menu a:hover {
  color: rgb(255, 255, 255);
}

footer .user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-up .user-menu {
  float: right;
  padding: 0px;
  margin-top: 7px
}

.user-menu li {
  float: left;
  padding: 0px;
  margin: 0px 37px 0px 0px;
  list-style: none;
}

.user-menu li:last-child {
  margin-right: 0px;
}

.user-menu li:first-child {
  margin-right: 45px;
}

.footer-social li {
  float: left;
  list-style: none;
  margin: 0px 15px 0px 0px;
}

.footer-social li:last-child {
  margin-right: 0px;
}

.footer-menu li {
  float: left;
  list-style: none;
  margin: 0px 33px 0px 0px;
  display: inline-block;
  vertical-align: top;
}

.catalog-wrapper-sort-order li {
  float: left;
  padding: 0px;
  margin: -4px 0px 0px 22px;
}

.developer-logo {
  float: right;
}

.tel {
  float: right;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-weight: 300;
}

.footer-menu {
  margin: 8px auto;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.address {
  float: left;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-weight: 300;
}

.footer-social {
  padding: 0px 53px 0px 0px;
  margin: -12px auto;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.catalog-wrapper {
  width: 830px;
  float: left;
}

.header-up-user-menu li {
  padding: 0px;
  margin: 0px 35px 0px 0px;
  display: inline-block;
  vertical-align: top;
}

.header-up-user-menu li.name {
  margin-right: 27px;
}

.header-up-user-menu li.login {
  width: 251px;
}

.header-up-user-menu li:last-child {
  margin-right: 0px;
}

.main-navigation-list {
  list-style: none;
  display: block;
  padding: 0px;
  margin: 0px;
}

.main-navigation-list-item {
  float: left;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  margin: 0px 34px 0px 0px;
}

.main-navigation-list-item:first-child,
.main-navigation-list-item:last-child {
  margin: 0px;
}

.main-navigation-list-item:last-child {
  padding: 0px;
  float: right;
  margin-right: -3px;
}

.main-navigation-list-item:first-child {
  padding: 0px 20px 0px 0px;
  width: 520px;
}

.subnavigation-list {
  display: none;
  position: absolute;
  width: 1040px;
  padding: 20px 60px 35px 60px;
  left: -60px;
  background: rgb(247, 226, 150);
  z-index: 1000;
  list-style: none;
  letter-spacing: -0.2px;
}

.main-navigation-list-item:hover .subnavigation-list {
  display: block;
}

.subnavigation-list.active {
  display: block;
}

.bread-crumbs {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  margin: 0px;
}

.bread-crumbs li {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: left;
  font-weight: 300;
  line-height: 36px;
  float: left;
  padding: 0px 0px 0px 30px;
  margin: 0px;
  background: url("../img/nav-arrow.png") no-repeat 15px 50%;
}

.bread-crumbs li a {
  color: inherit;
  text-decoration: none;
}

.bread-crumbs li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.bread-crumbs li a:active {
  color: rgba(0, 0, 0, 0.1);
}

.bread-crumbs li:first-child {
  padding: 0px;
  background: none;
}

.catalog-sort {
  float: left;
  width: auto;
  display: block;
}

.catalog-wrapper-sort-value {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 0px;
  padding: 1px 0px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-family: "Open sans", "Arial", sans-serif;
  letter-spacing: 0;
  line-height: 18px;
}

.catalog-wrapper-sort-value a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-wrapper-sort-value .active a,
.catalog-wrapper-sort-value a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-wrapper-sort-order {
  list-style: none;
  float: right;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}

.catalog-wrapper-sort-value li {
  float: left;
  padding: 0px 30px 0px 0px;
  margin: 0px;
}

.good-name-price {
  float: right;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  font-family: "Gilroy", "Arial", sans-serif;
  text-decoration: none;
  color: rgb(70, 70, 70);
  padding-top: 0px;
}

.pages {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

.catalog-paginator a.prev {
  width: 126px;
  float: left;
  padding: 25px 0px;
}

.catalog-paginator a.prev:hover,
.catalog-paginator a.next:hover {
  background-color: rgb(217, 217, 217);
}

.catalog-paginator a.prev:active,
.catalog-paginator a.next:active {
  background-color: rgb(217, 217, 217);
  color: rgba(0, 0, 0, 0.3);
}

.next {
  width: 126px;
  padding: 25px 0px;
  float: right;
}

.pages li {
  float: left;
  min-width: 40px;
  text-align: center;
}

.search {
  width: 400px;
  float: left;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.header-wrapper {
  position: relative;
  padding-top: 40px;
}

.home .header-wrapper {
  padding-bottom: 113px;
}

.catalog-filter-form {
  padding: 28px 70px 70px 60px;
}

.catalog-filter-form span {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.color {
  list-style: none;
  padding: 0px;
}

ul.bluetooth {
  list-style: none;
  padding: 0px;
}

.logo {
  padding: 0px;
  margin: 0px auto;
  font-size: 0px;
}

.home-services-menu {
  width: 279px;
  padding: 78px 0px 48px 0px;
  float: left;
  list-style: none;
  border-right: #000 solid 7px;
  margin-left: -2px;
}

.home-services-description {
  width: 710px;
  padding: 58px 48px 0px 115px;
  float: left;
  list-style: none;
  min-height: 237px;
}

.home-popular-list {
  padding: 0px;
  margin: 0px 0px 35px 0px;
  list-style: none;
  font-size: 0px;
}

.home-popular-item {
  width: 160px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 40px 35px 0px;
}

.home-popular-item:nth-child(6n) {
  margin: -1px -1px 35px 0px;
}

.companies-list {
  margin: 68px 0px 55px 0px;
  padding: 0px;
}

ul.companies-list li {
  font-size: 16px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  font-weight: 900;
  background-image: url("../img/circle-30.png");
  list-style: none;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

.home-info {
  margin: 0px 0px 83px 0px;
}

.home-info-about-us p,
.home-info-contact p {
  margin: 0px 0px 29px 0px;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(70, 70, 70);
  line-height: 30px;
  text-align: left;
  letter-spacing: 0em;
}

.home-info-map {
  margin: 40px 0px 67px 0px;
}

.home-services-menu li {
  width: 150px;
  padding: 0px 120px 20px 0px;
  text-align: center;
  margin-left: 3px;
}

.home-services-menu li:first-child {
  padding-bottom: 25px;
}

.home-services-menu li:last-child {
  margin-top: 6px;
}

.home-services-description li {
  padding: 0px 240px 0px 0px;
  display: none;
  background-repeat: no-repeat;
}

.home-services-description li.delivery {
  margin-left: 1px;
  padding-top: 10px;
  background-image: url(../img/delivery.png);
  background-position: 558px 26px;
}

.home-services-description li.warranty {
  padding-top: 10px;
  background-image: url(../img/warranty.png);
  background-position: 543px 0px;
  min-height: 200px;
}

.home-services-description li.credit {
  padding-top: 10px;
  padding-right: 276px;
  margin-left: 1px;
  background-image: url("../img/credit.png");
  background-position: 534px 0px;
}

.home-services-description li.active {
  display: block;
}

.home-popular-item a {
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  line-height: 1.2;
  text-decoration: none;
}

.homecarousel li {
  min-height: 486px;
}

.slides {
  list-style: none;
  margin: -113px 0px 0px 0px;
  padding: 0px;
}

.slides p {
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(70, 70, 70);
  line-height: 30px;
  text-align: left;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 2;
  margin: 0px;
  padding: 0px;
}

.slide-features li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-right: 78px;
}

.slide-features li.slide-3-feature-1 {
  margin-right: 45px;
}

.slide-features li:last-child {
  margin-right: 0px;
}

.slider-indicators {
  position: absolute;
  right: 66px;
  bottom: 153px;
  padding: 0px;
  margin: 0px;
}

.slider-indicators li {
  display: block;
  padding: 0px;
  margin: 0px;
  float: left;
  width: 33px;
}

.catalog-column-1 {
  float: left;
  background: #efefef;
}

.catalog-row-1 .catalog-column-1 {
  background: #dcdcdc;
}

.catalog-column-2 {
  float: left;
}

.slides .slide {
  display: none;
  min-height: 501px;
}

.slide.active {
  display: block;
}

.catalog-row-2 .catalog-column-2 {
  background: #FFFFFF;
}

.search input.button {
  display: none;
}

.search input[name=search-string] {
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 2.4;
  border: 0px;
  margin: -6px 0px 6px 0px;
  height: 48px;
  width: 269px;
  color: rgba(0, 0, 0, 0.3);
  padding: 0px 0px 0px 36px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: url("../img/search.png") no-repeat left center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.search input[name=search-string]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input[name=search-string]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input[name=search-string]::-ms-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input[name=search-string]::-ms-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input[name=search-string]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input[name=search-string]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search input[name=search-string]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input[name=search-string]:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input[name=search-string]:hover::-ms-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input[name=search-string]:hover::-ms-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input[name=search-string]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input[name=search-string]:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
}

.search input[name=search-string]:focus+input.button {
  /*display: block;*/
}

.search.focus input.button,
.search input[name="search-string"]:focus~input.button {
  padding: 0px;
  margin: -6px 0px 0px 0px;
  display: inline-block;
  vertical-align: top;
  width: 85px;
  height: 46px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: transparent;
}

.search input[name="search-string"]:focus~input.button:hover {
  background: black;
  color: white;
}

.search input[name="search-string"]:focus~input.button:active {
  background: black;
  color: rgba(255, 255, 255, 0.3);
}

.home-popular-item a .icon-bg {
  background-color: rgba(240, 197, 46, 0.5);
  display: block;
  margin-bottom: 35px;
}

.home-popular-item a:hover .icon-bg {
  background-color: rgba(240, 197, 46, 1);
}

.home-popular-item a:active .icon-bg {
  background-color: rgba(240, 197, 46, 1);
}

.home-popular-item a .icon {
  background-image: url("../img/poppular.png");
  background-position: 0px 0px;
  width: 160px;
  height: 160px;
  display: block;
}

.home-popular-item a:active .icon {
  opacity: 0.3;
}

.home-popular-item a .icon.ico1 {
  background-position: 0px 0px;
}

.home-popular-item a .icon.ico2 {
  background-position: -200px 0px;
}

.home-popular-item a .icon.ico3 {
  background-position: -400px 0px;
}

.home-popular-item a .icon.ico4 {
  background-position: -600px 0px;
}

.home-popular-item a .icon.ico5 {
  background-position: -800px 0px;
}

.home-popular-item a .icon.ico6 {
  background-position: -1000px 0px;
}

.home-logotypes img {
  background-blend-mode: overlay;
  opacity: 0.2;
}

.logo li a.srgadgets {
  background: url(../img/logo-2-black.png);
  opacity: 0.2;
}

.logo li a.srgadgets:hover {
  background: url(../img/logo-2-color.png);
  opacity: 1;
}

.logo li a.gopro {
  background: url(../img/logo-3-black.png);
  opacity: 0.2;
}

.logo li a.gopro:hover {
  background: url(../img/logo-3-color.png);
  opacity: 1;
}

.logo li a.vive {
  background: url(../img/logo-4-black.png);
  opacity: 0.2;
}

.logo li a.vive:hover {
  background: url(../img/logo-4-color.png);
  opacity: 1;
}

.logo li a.dji {
  background: url(../img/logo-1-black.png);
  opacity: 0.2;
}

.logo li a.dji:hover {
  background: url(../img/logo-1-color.png);
  opacity: 1;
}

.footer-center .footer-menu a {
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-center .footer-menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-center .footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-down a.developer-logo {
  text-decoration: none;
  font-size: 0px;
  vertical-align: top;
  background-image: url("../img/htmlacademy.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 36px;
  margin-top: -10px;
}

.footer-down a.developer-logo:hover {
  opacity: 0.6;
}

.footer-down a.developer-logo:active {
  opacity: 0.3;
}

.footer-social a {
  text-decoration: none;
  font-size: 0px;
  vertical-align: top;
  background-image: url("../img/social.png");
  width: 39px;
  height: 38px;
  display: block;
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-social a.instagram {
  background-position: -54px 0px;
}

.footer-social a.twiter {
  background-position: -109px 0px;
}

.home-services-menu li a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-align: center;
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: 0 50%;
  display: block;
  line-height: 40px;
  width: 162px;
  height: 40px;
}

.home-services-menu li a:hover {
  background-repeat: repeat;
}

.home-services-menu li a:active,
.home-services-menu li.active a {
  color: rgb(247, 225, 132);
  background: black;
  padding-right: 120px;
  margin: -0px 0px 0px 0px;
}

.home-info-read-more {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: 0 50%;
  display: block;
  width: 260px;
  padding: 9px 0px;
}

.home-info-read-more:hover {
  background-repeat: repeat;
}

.home-info-read-more:active {
  background-repeat: repeat;
  color: rgba(0, 0, 0, 0.3);
}

.home-popular-item a:active .text {
  opacity: 0.3;
}

.user-menu a .action-icon {
  width: 13px;
  height: 12px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
  color: rgb(255, 198, 0);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
}

.user-menu a:hover .action-icon {
  opacity: 1;
}

.user-menu a:active .action-icon {
  opacity: 0.3;
}

.logout .action-icon,
.login .action-icon {
  background-image: url("../img/user.png");
}

.compare .action-icon {
  background-image: url("../img/compare.png");
}

.cart .action-icon {
  background-image: url("../img/cart.png");
}

.yellow-line {
  float: left;
  background: rgb(255, 198, 0);
  width: 80px;
  height: 8px;
  margin-top: 4px;
}

.black-line {
  background: rgb(0, 0, 0);
  width: 80px;
  height: 8px;
  margin-top: 92px;
  margin-bottom: 55px;
}

.grey-bg {
  background: linear-gradient(0deg, rgb(229, 229, 229) 285px, rgb(255, 255, 255) 250px);
  min-height: 402px;
}

.home-services {
  padding-bottom: 51px;
  margin-bottom: 94px;
}

.slide-features {
  float: left;
  width: 460px;
  margin: 0px;
  padding: 0px;
}

.name .black-icon,
.login .black-icon {
  background-image: url("../img/user_black.png");
}

.logout a {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 23px;
}

.header-up-user-menu .black-icon {
  width: 13px;
  height: 12px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 7px;
  color: rgb(0, 0, 0);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.login .black-icon {
  margin-right: 12px;
}

.header-up-user-menu a:hover .black-icon {
  opacity: 0.6;
}

.header-up-user-menu a:active .black-icon {
  opacity: 0.3;
}

.compare .black-icon {
  background-image: url("../img/compare_black.png");
}

.cart .black-icon {
  background-image: url("../img/cart_black.png");
}

.slide-info {
  float: left;
  width: 520px;
  margin-left: 20px;
  position: relative;
}

.slider-indicators li button {
  width: 20px;
  height: 20px;
  background: url("../img/circle.png") no-repeat 50% 50%;
  opacity: 0.3;
  padding: 0px;
  margin: 0px;
  border: none;
  cursor: pointer;
}

.slider-indicators li button:hover {
  opacity: 0.4;
}

.slider-indicators li.active button,
.slider-indicators li button:active {
  opacity: 1;
}

.slide-img {
  float: left;
  width: 580px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.main-navigation-list-item.catalog-menu>a {
  padding-right: 28px;
  background: url("../img/plus.png") no-repeat 100% 50%;
}

.main-navigation-list-item.catalog-menu>a:hover {
  opacity: 0.6;
}

.main-navigation-list-item.catalog-menu a:active {
  opacity: 0.3;
}

.main-navigation-list-item.catalog-menu {
  position: relative;
}

.subnavigation-list-category {
  float: left;
  margin: 0px 59px 0px 0px;
  padding: 0px;
}

.subnavigation-list-category ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.subnavigation-list-category:last-child {
  margin: 0px 0px 0px 17px;
}

.subnavigation-list-category a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-wrapper-sort-order button {
  font-size: 0px;
  border: none;
  width: 20px;
  height: 18px;
  background: url("../img/sort-up.png") no-repeat 50% 50%;
  opacity: 0.2;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.catalog-wrapper-sort-order button.desc {
  background: url("../img/sort-down.png") no-repeat 50% 50%;
}

.catalog-wrapper-sort-order button:hover {
  opacity: 0.4;
}

.catalog-wrapper-sort-order .active button,
.catalog-wrapper-sort-order button:active {
  opacity: 1;
}

.good-action {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 380px;
  background: rgba(238, 238, 238, 0.7);
  text-align: center;
  display: none;
}

.good-action a {
  display: block;
  text-decoration: none;
}

.good-action-cart {
  width: 170px;
  margin: 174px auto 16px auto;
  padding: 15px;
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: center;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.good-action-cart:hover {
  background-repeat: repeat;
}

.good-action-cart:active {
  background-repeat: repeat;
  color: rgba(0, 0, 0, 0.3);
}

.good-action-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.good-action-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.good-action-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.good-name-link {
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 900;
  line-height: 1.2;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.catalog-wrapper-sort-value a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  line-height: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}

.catalog-paginator a,
.pages .active {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

.pages a {
  color: rgba(0, 0, 0, 0.3);
}

.filter-label-with-border {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-transform: none;
  border-top: 2px solid rgb(0, 0, 0);
  padding: 12px 0px 29px 0px;
  margin: 40px 0px 0px 0px;
}

.filter-ul {
  margin: -10px;
  padding: 0px;
  list-style: none;
}

.filter-ul li {
  padding: 0px 10px;
  margin: 0px auto 0px;
}

.filter-ul label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-ul input[type=radio] {
  display: none;
}

.filter-ul input[type=radio]+span {
  padding: 5px;
  border: 2px solid rgb(198, 198, 198);
  display: inline-block;
  vertical-align: baseline;
  border-radius: 11px;
  margin: 0px 18px -4px 0px;
  cursor: pointer;
}

.filter-ul input[type=radio]+span>span {
  width: 5px;
  height: 5px;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.filter-ul input[type=radio]+span:hover {
  border-color: rgb(188, 188, 188);
}

.filter-ul input[type=radio]+span:active {
  border-color: rgb(172, 172, 172);
}

.filter-ul input[type=radio]:checked+span>span,
.filter-ul input[type=radio]+span:active>span {
  border: 2px solid rgba(0, 0, 0, 1);
}

.filter-ul input[type=radio]:checked+span:active>span {
  border: 2px solid rgba(0, 0, 0, 0);
}

.filter-ul input[type=checkbox] {
  display: none;
}

.filter-ul input[type=checkbox]~label>span {
  padding: 5px;
  background: rgb(219, 219, 219);
  display: inline-block;
  vertical-align: baseline;
  margin: 0px 17px -5px 0px;
  cursor: pointer;
}

.filter-ul input[type=checkbox]~label>span>span {
  width: 9px;
  height: 9px;
  display: block;
}

.filter-ul input[type=checkbox]:checked~label>span {
  background: rgb(196, 196, 196);
}

.filter-ul input[type=checkbox]~label>span:hover {
  background: rgb(206, 206, 206);
}

.filter-ul input[type=checkbox]:checked~label>span>span,
.filter-ul input[type=checkbox]~label>span:active>span {
  background: url("../img/tick.png") no-repeat 50% 50%;
}

.filter-ul input[type=checkbox]:checked~label>span:active>span {
  background: none;
}

.catalog-filter-form input[type=submit],
.write-us-form-button {
  width: 200px;
  padding: 15px;
  background: url(../img/line.png) repeat-x center;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-top: 31px;
  border: none;
  cursor: pointer;
  outline: none;
}

.catalog-filter-form input[type=submit]:hover,
.write-us-form-button:hover {
  background-repeat: repeat;
}

.catalog-filter-form input[type=submit]:active,
.write-us-form-button:active {
  background-repeat: repeat;
  color: rgba(0, 0, 0, 0.3);
}

.search.focus {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.catalog-row-2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(239, 239, 239)), color-stop(50%, rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgb(239, 239, 239) 50%, rgb(255, 255, 255) 50%);
}

.catalog-row-1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(220, 220, 220)), color-stop(50%, rgb(239, 239, 239)));
  background: linear-gradient(90deg, rgb(220, 220, 220) 50%, rgb(239, 239, 239) 50%);
}

.header-background {
  background: rgb(247, 226, 150);
  width: 1160px;
  padding: 0px;
}

.good-name h3 {
  padding: 0px;
  margin: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  float: left;
  width: 260px;
}

.price-range-background {
  background: rgb(219, 219, 219);
  height: 2px;
  margin: 6px 0px 67px 0px;
}

.price-range {
  background: rgb(145, 201, 47);
  height: 2px;
  width: 62%;
  position: relative;
}

.price-range-pointer {
  height: 10px;
  width: 10px;
  background: rgb(238, 238, 238);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  top: -5px;
  position: absolute;
  cursor: pointer;
}

.price-range-pointer.min {
  left: 0px;
}

.price-range-pointer.max {
  right: 0px;
}

.price-range-pointer:active {
  background: rgb(145, 201, 47);
  border-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.price-range-label {
  position: absolute;
  top: 12px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22.27px;
  letter-spacing: 0;
  font-weight: 300;
  width: 60px;
  color: rgba(0, 0, 0, 0.2);
  margin: 0px;
  padding: 0px;
}

.price-range-label.max {
  left: -25px;
}

.catalog-good.new::after {
  content: "NEW";
  position: absolute;
  top: 27px;
  right: 26px;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 56px;
  text-align: center;
  border-radius: 56px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  padding: 20px 0px;
}


/* Всплывающая форма */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.popup {
  display: none;
  width: 960px;
  position: absolute;
  z-index: 10000;
  min-height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -250px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.popup.map {
  margin-top: -280px;
  background: url("../img/map-big.png") no-repeat 50% 50%;
}

.popup-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup-overlay.active {
  display: block;
}

.popup-close {
  width: 54.6px;
  height: 54.6px;
  background: rgba(240, 197, 46, 0.5) url("../img/modal-close.png") no-repeat 50% 50%;
  font-size: 0px;
  position: absolute;
  right: 22px;
  top: 22px;
  border: none;
  border-radius: 54px;
  cursor: pointer;
  outline: none;
}

.popup-close:hover {
  outline: none;
  background: rgba(240, 197, 46, 1) url("../img/modal-close.png") no-repeat 50% 50%;
}

.popup-close:focus {
  background-image: none;
}

.popup-close:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("../img/modal-close.png") no-repeat 50% 50%;
}

.popup.active {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.popup.error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.write-us-form {
  margin: 72px;
}

.write-us-form label {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0em;
  color: rgb(0, 0, 0);
  margin-bottom: 11px;
  padding: 20px 0px 0px 29px;
  margin-top: 7px;
}

.write-us-form input[type=text],
.write-us-form input[type=email],
.write-us-form textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
  margin-bottom: 10px;
  margin-left: 27px;
  padding: 14px 22px;
  width: 316px;
}

.write-us-form textarea {
  width: 716px;
  height: 123px;
  margin-bottom: 7px;
}

.write-us-form input[type=text]:hover,
.write-us-form input[type=email]:hover,
.write-us-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}


.write-us-form input[type=text]:focus,
.write-us-form input[type=email]:focus,
.write-us-form textarea:focus {
  background-color: rgb(255, 255, 255);
  color: rgba(70, 70, 70, 1);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(240, 197, 46, 0.5);
  box-shadow: inset 0px 0px 0px 3px rgba(240, 197, 46, 0.5);
}

.write-us-form input[type=text].error,
.write-us-form input[type=email].error,
.write-us-form textarea.error,
.write-us-form input[type=email]:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.write-us-form-col {
  width: 50%;
  float: left;
}

.write-us-form-col.col2 {
  margin-left: -10px;
}

.write-us-form-button {
  margin-left: 25px;
}

.good-name {
  margin-top: 30px;
  margin-bottom: 30px;
}

.filter-ul.bluetooth li {
  padding: 3px 8px 1px 7px;
}

.map iframe {
  border: 0px;
}

.login-link {}

.home-services-description p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.slide-img-1 {
  margin-right: 13px;
  margin-top: 1px;
}

.slide-img-2 {
  margin-top: 13px;
}

.slide-img-3 {
  margin-top: 10px;
}
